.last-rides li a {
    display: flex;
    align-items: center;
    color: #000;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.last-rides li:last-of-type {
    border-top: 1px solid rgb(234, 234, 234);
    max-width: 800px;
    margin: 0 auto;
}

.pin-bg {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 50%;
}

.arrow-right-bg {
    padding: 10px;
}