.last-rides li a {
    display: flex;
    align-items: center;
    color: #000;
    gap: 10px;
    background-color: orange;
    max-width: 800px;
    margin: 0 auto;
}

.pin-bg {
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}