footer {
    background-color: red;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    justify-items: center;
    display: grid;
}