footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer ul li {
    justify-items: center;
    display: grid;
    cursor: pointer;
}

footer ul li:active {
    background-color: #f0f1f2;
    transition: all 0.1s;
}