.header-bg {
    height: 130px;
}

#header {
    display: grid;
    width: 100%;
    position: fixed;
}

#header #timer {
    font-size: 1.2rem;
}

#header nav {
    text-align: center;
    cursor: pointer;
    padding: 10px 0px;
    background-color: #fff;
}

#header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: black 5px solid;
}

#header nav ul li:active {
    background-color: #f0f1f2;
    transition: all 0.1s;
}